@model Nhanvien002.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới nhân viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongBan" class="control-label"></label>
                <input asp-for="PhongBan" class="form-control" />
                <span asp-validation-for="PhongBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucLuong" class="control-label"></label>
                <input asp-for="MucLuong" class="form-control" />
                <span asp-validation-for="MucLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh Sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
